body {
    /* background-color: green; */
}


.pokemon-img {
    max-width: 100%;
    width: 50%;
    grid-column: span 2;
    justify-self: center;
    /* margin-top: 2em; */
    position: relative;
    top: 28%/*55px;*/
}

.card-section {
    width: 100%;
    max-width: 100%;
}

/* HEADER */

.header {
margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1.6fr ;
    align-items: center;
    color: #fff;
}



.background-hero {
width: 100%;
max-width: 100%;
opacity: 0.1;
order: 0;
grid-column: 2;
grid-row: 1/3;
justify-self: end;
align-self: start;
margin-right: 0.8em;
margin-top: -1em;
}


.pokemon-img {
    grid-area: 1 / 1 / -1 / -1;
    width: 60%;
    max-width: 100%;
    z-index: 2;
    grid-row: 2;
    justify-self: center;
    position: relative;
    top: 40px;
}

.header h1 {
grid-column: 1;
grid-row: 1;
margin-left: 3em;
text-transform: capitalize;
}

.card-section a {
    font-size: 2em;
    font-weight: lighter;
    grid-column: 1;
    grid-row: 1;
    margin-left: 1em;
    color: #fff;
    }

    .poke-id {
        margin-left: auto;
        grid-column: 2;
        grid-row: 1;
        margin-right: 1em;
    }

/* ARTICLE */

article {
    background-color: #fff;
    justify-self: center;
    border-radius: 25px;
    width: 95%;
    display: grid;
    justify-items: center;
    padding-top: 5em;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -40px
} 

.types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em
}

.type1 {

    color: #FFF;
    margin-top: 1em;
    padding: 0.4em 1em;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

.type2 {

    color: #FFF;
    margin-top: 1em;
    padding: 0.4em 1em;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

h3 {
    margin: 1em 0;
    justify-self: center;
    color: green;
}

/* ABOUT CONTAINER */

.about-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2px 1fr 2px 1fr; /* Tilføjer smalle kolonner til linjerne */
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.column-line {
    background-color: #E0E0E0;
    width: 100%;
 height: 100%;

}

.a {
    grid-column: 2;
}
.b {
    grid-column: 4;
}


.divider-line {
    background-color: #E0E0E0;
}

.about-container_divider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    
}

.about-container_divider img {
width: 1.5em;
margin-right: -0.5em;

}

.about-type {
    grid-row: 3;
    font-size: 8px;
    margin-top: 1em;
    justify-self: center;
    color: #666666;
}

.about-data {
    grid-column: 3;
    font-size: 12px; /*figma siger 10px, men ser ikke rigtigt ud*/
    line-height: 20px;
    align-self: center;
    justify-self: center;
}

.Poke-description {
margin: 1em;
justify-self: center;
}


h4 {
    margin: 1em;
    justify-self: center;
}

img.meassure {
rotate: 90deg;
}

/* BASE STATS */

.baseStats {
    display: grid;
    grid-template-columns: 1fr 2px 1fr 8fr;
    justify-self: center;
    margin: 0 1em;
    padding-bottom: 1em;
    
}

meter {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    height: 15px;
    align-self: center;
}

meter::-webkit-meter-bar {
    background-color: #74cb4848;
    border-radius: 15px;
}


meter::-webkit-meter-optimum-value {
    background-color: var(--meter-fill-color, #74cb48); /* Dynamisk farve */
    border-radius: 15px;
}

.stats-visual__background {
    background-color: #74cb4836;
    width: 100%;
    grid-column: 4;
    grid-row: 1;
    grid-column: 4;
}

/* .stats-visual__amount {
width: 45%;
background-color: green;
z-index: 2;
grid-row: 1;
grid-column: 4;
} */

.stats-headline {
    grid-column: 1;
    margin-right: 0.5em;
}

.stats-amount {
    margin-left: 1em;
    margin-right: 1em;
}

.stats-divider {
    background-color: #E0E0E0;
    grid-column: 2;
    /* grid-row: 1 / -1; Strækker sig over alle rækker */
}

h4 {
    color: green;
}