
body {
    background-color: #DC0A2D;
    font-size: 16px;
    display: grid;                  
    justify-content: center;    /* For centrering på header */
}

header {
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: 24px auto;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;

    margin-top: 1em;
    width: 100%;
    max-width: 100%;
    padding-left: 0.8em;
}


.logoImg {
    grid-column: 1;
    grid-row: 1;
    order: 0;

    justify-self: start;
}

.logoTitle {
    display: inline;
    order: 1;
    /* grid-column: 2; */
    grid-row: 1;
    color: #fff;
    justify-self: start;
    margin-left: 0.5em;
}



.searchContainer {
    grid-row: 2;
    grid-column: span 2;
    /* width: 99%;
    max-width: 90%; */
    
}

.searchBar {
    margin-right: 0.5em;
    width: 85%;
    max-width: 90%;
    
    /* width: 80%; */

    height: 2.5em;
    border-radius: 25px;
    border: none;
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.searchBar::placeholder {
position: relative;
right: -40px;
}

.searchButton {
    /* grid-column: 2; */

    background-color: #fff;
    color: #DC0A2D;
    font-size: 16px;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-right: 0.5em;
    justify-self: end;

}

.fa-magnifying-glass {
    position: absolute;
    left: 1.7em;
    top: 5em;
    color: #DC0A2D;
    order: 2;

}

