.pokedex_section a {
    display: block;
    width: 100%;
    text-decoration: none; /* Fjern standard link-styling */
}



.pokedex_section {
background-color: rgb(255, 255, 255);
width: 100%;
max-width: 98%;
border-radius: 15px;


display: grid;
grid-template-columns: repeat(3, 1fr);
/* grid-template-rows: auto; */

justify-items: center;
justify-self: center;
gap: 2%;
/* padding: 2em 0.8em; */
min-height: 100vh;
/* overflow: hidden; */
margin-bottom: 2em;
}



article.poke_card {
    /* position: relative;  */
    width: 100%;
    max-width: 100%;
    /* max-height: max-content; */
    border-radius: 15px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
  
    align-self: stretch;

}

/* article .card-inside-shadow {

z-index: 0;
width: 100%;
height: 40%;
position: absolute;
bottom: 0;
left: 0;
background: #EFEFEF;
border-radius: 10px;
}
*/

/* shadow color: #EFEFEF
under billedet, ovenpå card'et.. */

.poke_card img {
    max-width: 100%;
    width: 70%;
    align-self: center;
    z-index: 1;
    }

.poke_card h3 {
    font-size: 0.5em;
    color: #666666;
    text-align: right;
    font-weight: 400;
    margin: 1em 1em 0 0;
}

.poke_card h2 {
font-size: 0.7em;
font-weight: 400;
text-align: center;
margin-bottom: 1em;
text-transform: capitalize;
z-index: 2;
}


.poke_card article:nth-last-child(5) {
    border: 2px solid blue;
}